.tipo img {
-webkit-transition:all .5s ease; /* Safari y Chrome */
-moz-transition:all .5s ease; /* Firefox */
-o-transition:all .5s ease; /* IE 9 */
-ms-transition:all .5s ease; /* Opera */
width:100%;
}
.tipo:hover img {
-webkit-transform:scale(1.25);
-moz-transform:scale(1.25);
-ms-transform:scale(1.25);
-o-transform:scale(1.25);
transform:scale(1.25);
}

.btn_close_modal{
    background-color: white;
    display: block;
    z-index: 4;
}
.btn_close_modal img{
    height: 30px; 
    width: 30px;
    position: relative;
    float: right;
    margin-right: -15px;
    z-index: 2;
    margin-bottom: -15px;
}
.btn_close_modal a{
    opacity: 1;
}
.boleto_modal{
    background-color: #5b6269;
}
.loader{
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/cargando.gif') 50% 50% no-repeat;
}

.selected_row{
    background-color: limegreen !important;
    color: white !important;
}
#table_boletos{
    cursor: pointer;
}
